/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);
body {
    background-color: #5f5345;
}

.pageContainer {
    width: 940px;
    margin: 20px auto 0 auto;
    padding: 20px;
    background-color: #fff;
}

.imageContainer {
    float: left;
    width: 620px;
}

.textContainer {
    float: left;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 64px;
    color: #8b1b00;
}

p,
li {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #51473b;
}


/* ---- Advanced ---- */


/* This tag is a bit advanced for this lesson,  
   but is needed to wrap the pageContainer 
   around any sized content that is floated within it. */

.pageContainer:after {
    content: " ";
    display: table;
    clear: both;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#specifiedTagLine {
    color: whitesmoke;
}